.row {
  color: white;
  margin-left: 20px;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  &__posterContainer {
    min-width: 250px;
    margin-right: 5px;
  }
  &__poster {
    border-radius: 2px;
    transition: transform 100ms;
    width: 100%;
    cursor: pointer;
    &:hover {
      transition: transform 350ms;
      transform: scale(1.2);
      opacity: 1;
    }
  }
  &__video {
    border: none;
    border-radius: 2px;
    width: 100%;
    cursor: pointer;
    transform: scale(1.4);
    opacity: 1;
  }

  &__posters {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
  }
}
