@import "_Banner";
@import "_HomeScreen";
@import "_Nav";
@import "_Row";
@import "_LoginScreen";
@import "_SignUpScreen";
@import "_ProfileScreen";

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  background-color: #111;
}
