.row {
  color: white;
  margin-left: 20px;
  &__poster {
    max-height: 100px;
    object-fit: contain;
    margin-right: 10px;
    border-radius: 2px;
    width: 100%;
    transition: transform 450ms;
    cursor: pointer;
    &:hover {
      transform: scale(1.08);
      opacity: 1;
    }
  }
  &__posterLarge {
    max-height: 200px;
    &:hover {
      transform: scale(1.09);
      opacity: 1;
    }
  }
  &__posters {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
